body{
	background: linear-gradient(45deg, #3A1C71, #D76D77, #FFAF7B) fixed;
}

.qrs{
	position: fixed;
	width: 10%;
}

.imgqr{
	width: 100%;
	margin-bottom: 2%;
}

.wrap{
	margin: 1% 5% 0% 15%;
	background-color: #ffe6d7;
	box-shadow: 2px 2px 5px #202020;

}

.header{
	font-size: 60px;
	font-family: Helvetica;
	text-align: center;
}

.content{
	padding: 2%;
}